<div class="hero min-h-[90vh]">
  <div class="hero-content text-center">
    <div class="max-w-xl space-y-6">
      <h1 class="text-4xl font-bold">Olá aventureiro(a)!</h1>
      
      <p class="text-lg text-base-content">
        O pacato vilarejo de <span class="font-bold">Puffendale</span> está sendo atormentado pela <span class="font-bold">Bruxa da Procrastinação</span>! Ela lançou um feitiço sombrio, apagando a felicidade de todos.
      </p>
      
      <p class="text-base-content">
        Mas nem tudo está perdido! O grande <span class="font-bold">Mago Taskelius</span> deixou um feitiço secreto: tarefas completadas liberam <span class="font-bold">pontos de magia</span> capazes de restaurar a alegria do vilarejo.
      </p>
      
      <p class="text-base-content">
        Nesse <span class="font-bold">To do List</span>, cada tarefa ajuda a salvar o vilarejo, enfraquecendo o feitiço da bruxa. Complete tarefas, recupere a magia e devolva a vida a Puffendale!
      </p>
      
      <div class="flex justify-center gap-4">
        <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Criar Conta", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>
</div>