<p style="color: green"><%= notice %></p>

<h1><%= @task_list.name %></h1>

<h2>Tasks</h2>
<ul>
  <% @task_list.tasks.each do |task| %>
    <%= render 'tasks/edit_task', task: task, task_list: @task_list %>
  <% end %>
</ul>

<h3>Adicionar nova task</h3>
<%= render 'tasks/new_task', task: Task.new, task_list: @task_list %>

<script>
  document.querySelectorAll('.task-form').forEach(form => {
    const input = form.querySelector('input[type="text"]');
    const btn = form.querySelector('.save-btn');

    input.addEventListener('input', () => {
      btn.style.display = (input.value !== input.dataset.original) ? 'inline-block' : 'none';
    });
  });
</script>
