<footer class="text-center py-4 text-gray-600 text-sm">
  <div class="mx-auto mb-2 h-[1px] w-24 bg-gray-300"></div>
  <p class="mb-1"><%= link_to "Instalar app", instalar_path, class: "link link-hover" %></p>
  Feito com <span class="text-red-500">❤</span> por Fernando
</footer>